export(ddalpha.train, ddalpha.classify, depth.zonoid, depth.randomTukey, depth.space.zonoid, depth.space.randomTukey, is.in.convex)
useDynLib(ddalpha, IsInConvexes, ZDepth, HDepth, HDSpace, AlphaLearn, AlphaLearnCV, AlphaClassify, KnnAffInvLearnJK, KnnAffInvClassify)
S3method(print, ddalpha)
S3method(print, ddalpha.pattern)
import(MASS)
import(class)
import(robustbase)